@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/textfield/mdc-text-field';
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/card/mdc-card";
@use "@material/checkbox/mdc-checkbox";

@import "@material/layout-grid/mdc-layout-grid";

.btn-record {
  @include button.container-fill-color(rgb(255, 64, 0));
  width: 100%;
}

audio {
  height: 0px;
}

body {
  margin-top: 70px;
}

.mdc-card {
  width: 100%;
}

.mdc-card-content {
  padding: 16px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

.mdc-card__media-content {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-size: cover;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
