<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="manifest.json" rel="manifest">
    <link href="dist/bundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title>💚 Niwla23 💚 Projects 💚</title>
</head>

<body>
    <div id="app">
        <header class=" mdc-top-app-bar mdc-top-app-bar--short">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">Niwla23 - Projects</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <button @click="infomessage"
                        class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                        aria-label="Clear">info</button>
                </section>
            </div>
        </header>

        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div v-for="project in projects" class="mdc-layout-grid__cell">
                    <div class="mdc-card ">
                        <div class="my-card__media mdc-card__media mdc-card__media--16-9">
                            <div class="mdc-card__media-content" :style="{'background': project.image}"></div>
                        </div>
                        <div class="mdc-card-content">
                            <h2>{{project.name}}</h2>
                            <p>{{project.description}}</p>
                        </div>
                        <div class="mdc-card__actions">
                            <button @click="window.location.href=link" v-for="(link, key) in project.links"
                                class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">{{key}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="dist/bundle.js"></script>
    
</body>

</html>